<h1>Angular Example App</h1>

<nav>
  <a [routerLink] ="['home']" routerLinkActive="isCurrent">Home</a>
  <a [routerLink] ="['aboutUs']" routerLinkActive="isCurrent">About Us</a>
  <a [routerLink] ="['contactUs']" routerLinkActive="isCurrent">Contact Us</a>
  <a [routerLink] ="['profile']" routerLinkActive="isCurrent">Profile</a>
  <a [routerLink] ="['signup']" routerLinkActive="isCurrent">Signup</a>
  <a [routerLink] ="['login']" routerLinkActive="isCurrent">Login</a>
</nav>

<footer>
  <h3>Angular-Example-Site, 2022 </h3>
</footer>

<style>
  .isCurrent  {
    color: yellow;
}
</style>

<router-outlet></router-outlet>